@use 'variables' as v;
@use 'mixins' as mix;



.contenedor-redes {
  text-align: center;
  margin-top: 100px;
  

  .texto-redes {
    font-family: "helvetica neue", Helvetica, sans-serif;
    font-size: 30px;
    display: inline-block;
    color: v.$primarycolor;
    background-color: v.$sombranormal;
}

  .enlace-instagram {
    color:rgba(253, 29, 115, 0.80);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
}
