@use 'variables' as v;
@use 'mixins' as mix;

header h1{
    @include mix.QU4TRO03();
}

.logo{
    @include mix.logo();
}

nav{
    background-color:v.$secondarycolor;
    padding: 10px 0;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
                li{
                    margin: 0 15px;
                        a{
                            color:v.$primarycolor;
                            text-decoration: none;
                            font-family: v.$fontfamily;
                                &:hover{
                                    text-transform: uppercase;
                                    font-weight: bolder;
                                        }
                        }
                }
        }
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
}
