@use 'variables' as v;
@mixin body-estilo{
    background-image: url(../images/fondo4.webp);
    background-size: cover;
    background-repeat: repeat;
    color: white;
    font-family: v.$fontfamily;
}

@mixin h2{
    text-align: v.$textocentrado;
    color: v.$primarycolor;
    margin: 20px;
    font-family: "helvetica neue", Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    position: relative;
    top: 10px;
    font-size: 50px;
    
}

h2 {
    @include h2();
}

body {
    @include body-estilo();
}

