@use 'variables' as v;
@use 'mixins' as mix;

.prueba{
    text-align: v.$textocentrado;
    width: 100%;
    color: v.$primarycolor;
    display: inline-block;

    margin-top: 10px;
}

.bienvenidos{
    @include mix.h2();
}

body {
    @include mix.body-estilo();
}

