@use 'variables' as v;

@mixin reset{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin logo{
    width: 111px;
    height: 111px;
    position: absolute;
    left: 0;
    top: 0;
}

@mixin QU4TRO03{
    color: v.$primarycolor;
    background-color: v.$secondarycolor;
    background-clip: border-box;
    font-size: 60px;
    font-weight: bold;
    text-align: v.$textocentrado;
    margin-bottom: 0px;
    padding: 20px;
    display: block;
}

@mixin body-estilo{
    background-image: url(../images/fondo4.webp);
    background-size: cover;
    background-repeat: repeat;
    
    font-family: v.$fontfamily;
}

@mixin h2{
    text-align: v.$textocentrado;
    color: v.$primarycolor;
    background-color: v.$sombranormal;
    display: inline-block;
    margin: 20px;
    font-family: "helvetica neue", Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    position: relative;
    top: 10px;
    font-size: 50px;
    
}

@mixin galeria{
    width: 300px;
    height: auto;
    margin: 15px;
    border: 5px solid rgb(190, 190, 190);
    border-radius: 10px;
}

@mixin contenedor-imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    width: 100%; 
    justify-items: center;
}

@mixin imagen-aparte{
    margin: 15px;
    width: 100%; 
    height: auto;
    object-fit: cover;
    border: 5px solid rgb(190, 190, 190);
    border-radius: 10px;
}

@mixin pie{
    font-size: 30px;
    color: v.$primarycolor;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}