/* Reset de CSS*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/fondo4.webp);
    background-size: cover;
    background-repeat: repeat;
    color: white;
    font-family: Arial, sans-serif;}

div h1{color: solid rgb(190, 190, 190);
        font-style: normal;
        font-size: 40px;}

h1 { color: rgb(190, 190, 190);
    background-color: rgb(0, 0, 0);
    background-clip: content-box;
    font-size: 60px;
    font-style: bold;
    text-align: center;
    animation-delay: 1.2s;
    animation-duration: 3s;}

.logo{width: 111px;
    height: 111px;
    position: absolute;
    left: 0;
    top: 0;}

h2 {color: rgb(190, 190, 190);
    margin: 20px;
    font-family: "helvetica neue", Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    position: relative;
    top: 10px;
    font-size: 50px;
    text-align: center;
    }

    p{
        font-style: italic;
        font-size: 30px;
        text-indent: 20px;
        color: rgb(190, 190, 190);
        margin: 10px;
        text-align: justify;
    }


nav {
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {color: rgb(190, 190, 190);
            text-decoration: none;
            font-family: Arial, sans-serif;
}

nav ul li a:hover {
    text-transform: uppercase;
    font-weight: bolder;
}

.parrafo{
    background-color: rgba(0, 0, 0, 0.5);
}

.galeria{
    width: 300px;
    height: auto;
    margin: 15px;
    border: 5px solid rgb(190, 190, 190);
    border-radius: 10px;
} /* Falta todavia acomodar bien las imagenes y todo eso */

.video{
    margin: 10px;
    border: 5px solid rgb(190, 190, 190);
    border-radius: 10px;
}

/*
.instagram{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
} */
