@use 'reset' as r;
@use 'variables' as v;
@use 'mixins' as mix;
@use 'header' as h;
@use 'index' as i;
@use 'parrafos' as p;
@use 'imagenes' as img;
@use 'footer' as f;
@use 'tienda' as t;
@use 'contacto' as c;
@use 'responsive' as res;
